<div class="mt-xl header">
  <header class="mfheader">
	  <a href="{{ .Site.BaseURL }}" style="">
	    <h1 class="name text-center">{{ .Site.Params.sitename }}</h1>
	  </a>
	
      
      
	
	  <ul class="nav-bar" >
	    {{ range .Site.Menus.primary.ByWeight }}
	    <li class="nav-item "> <!--FUCKING HELL-->
	      <a class=" nav-link {{ if .Identifier }} text-{{ .Identifier }}{{ end }}" href="{{ .URL }}">
		{{ .Pre }}
		{{ .Name }}
	      </a>
		  
		  
	    </li>
	    {{ end }}
		<li>
			<!-- Cambiar el href al que nuevo del buckit de la app de hábitos-->
			<a class=" nav-link" href="http://frontend-habitos.s3-website-us-east-1.amazonaws.com">Hábitos</a>
		</li>
	  </ul>
	  
	  
      
    
  </header>
</div>
